
/* codi per la fulla d'estil en 
cascada per pac1 pregunta 1*/
h1 {
    text-align: center;
}

figure {/*la figura*/
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

section {/*seccions*/
    border: thin silver solid;
    margin-left: 10px;
    padding: 10px;
    line-height: 1.5;

}

p a{
    text-align: center;
    font-style: normal;
    font-size: medium; 
}

img.pic { /*la imatge*/

    max-width:400px; 
    height: auto;
}


/*codi per la pregunta 2*/
ul.preg4, dl.preg4{
    margin-left: 50px;
}



/*codi per la pregunta 3*/
ul.preg3_niv2{
    list-style: decimal;
}
ul.preg3_niv3{
    list-style: square;
}
p.enunciat{
    font-style:italic;
}
dt {
    font-weight:bold;
}
li{
    text-align: left;
    list-style: inside, outside;
}

